body { padding: 70px 0 10px; }

.navbar {min-width: 1220px; }
.navbar-brand { background: url('../img/logo.png') no-repeat 50% 50%; text-align: left; text-indent: -9999px; width: 58px;}
.navbar-form .input-group  {margin-left: 10px;}
.navbar-form .input-group:first-child  {margin-left: 0;}
.navbar-form .input-group .form-control {margin-right: -1px;}
.navbar-form .input-group-addon:first-child { padding-left:10px; padding-right: 8px; border-left-width: 1px;}
.navbar-left .form-control {border-radiu2s: 0!important; width: 100px!important;}
.navbar-form.navbar-right:last-child { margin-right: 0;}
.navbar-right .form-control {width: auto!important;}

.dataTables_wrapper { font-size: 10px}
table.dataTable tbody tr:hover { background-color: #fdffe0!important;}
table.dataTable thead th, table.dataTable thead td { border-bottom: 2px solid #ddd;}
table.dataTable.no-footer { border-bottom: 2px solid #ddd; }


.ladda-button {background-color: #eee}
.ladda-button.disabled, .ladda-button[disabled],
.ladda-button.disabled:hover, .ladda-button[disabled]:hover,
.ladda-button.disabled:focus, .ladda-button[disabled]:focus,
.ladda-button.disabled:active, .ladda-button[disabled]:active,
.ladda-button.disabled.active, .ladda-button.active[disabled] { background-color: #3d880c; }

select.form-control option {color: #333;}
select.form-control[data-value=""],
select.form-control option[value=""] {color: #999;}

.form-control::-webkit-input-placeholder { /* WebKit browsers */
    color:    #999;
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #999;
    opacity:  1;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #999;
    opacity:  1;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #999;
}